*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    box-sizing: border-box;
    
}
/*///////////////////Celular///////////////////////////////////////*/
@media (min-width : 200px){
  
    body{
        /*background-color: #CE7D35;*/
    }
    header{
        background-color: rgb(230, 78, 78);
        width: 97.2vw;
        height: 30vh;
        margin:0;
        padding: 0;
        /*border: 5px solid green;*/
    }

    #arriba{
        display:block;
        width: 100%;
        height:78%;

    }
    #logo{
        width: 85%;
        height: 100%;
    /* border: 5px solid rgb(230, 78, 78);*/
        margin: auto;
        padding: .5rem 0 .5rem 0;
    }
    #ima_logo{
        width: 100%;
        height: 100%;
        border-radius: 40%;
    }
    #busqueda{
        width: 50%;
        height: 100%;
        
    }
    #ima_busqueda{
        display:block;
        margin:0;
        padding-top: 10%;
        padding-left: 1.2em;
    }
 /*   #usuario{
        width: 20%;
        height: 100%;
        padding-top: 4%;
    /* border: 5px solid rgb(230, 78, 78);
    padding-right: .5em;
    }
    #ima_usuario{
        width: 100%;
        height: 65%;
        display:block;
        margin:0;
        
    }
    #ico-menu{
        width: 3rem;
        height:3rem;
    }
    #btn_menu{
       /* display:none;
    }
    header label{
        display: block;
        width: 4rem;
        height:4rem;
        padding:.5rem;
        
        
    }
    header label:hover{
        cursor: pointer;
        background:rgb(97, 95, 95);
        
    }

   


    #barra{
        background-color:white;
        width: 100%;
        height:22%;
        /*border: 5px solid rgb(230, 78, 78);
        padding:.2em;
        display: flex;
        

    }

 

    .navegacion{
        width: 50%;
        position: absolute;
        background:#fff;
        margin-left: -60%;
        z-index: 50;
        transition:all .5s;
    }
    .navegacion ul{
        display:flex;
        list-style: none;
        flex-direction: column;
    }
    .menu>li{
        position: relative;
        display: inline-block;
        border-top: 1px solid rgb(184, 184, 184);
        margin: 0 .5em 0 .5em;
    }
    .menu>li>a{
        display: block;
        padding: .8em 1.2em;
        color:#353535;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-decoration: none;
    }
    .menu li a:hover{
        color:#CE7D35;
        transition: all .3s;
    }
    /*Submenus
    .submenu{
        display: inline-block;
        position: absolute;
        background:#3333;
        width: 140%;
        visibility: hidden;
        opacity: 0;
        transition:opacity 1.5s;
        z-index: 50;

    }
    .submenu li a{
        
       /* display: block;
        padding: .8em;
        color:#fff;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-decoration: none;
        
    }
    .menu li:hover .submenu{
        visibility: visible;
        opacity: 1;

    }
    #btn_menu:checked ~ .navegacion{
        margin:0;
       

    }
    
    .buscar{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left:72%;
        top:26.7%;
        transform:translate(-100%,-50%);
        background:rgb(255, 0, 0);
        padding: .8rem .5rem .5rem .9rem;
        height: 3.5rem;
        border-radius: 1rem;
        
    }
    .buscar_texto{
        
        border:none;
        background: none;
        outline: none;
        color:white;
        font-size: 1.5rem;
        float: left;
        line-height: 4rem;
        transition:.3s;
        width: 0;
    }

    .boton{
        width:2.5rem;
        height: 2.5rem;
        text-decoration: none;
        color: white;
        font-size: 1.8rem;

    }

    /* animacio de la barra de busqueda
    .buscar:hover>.buscar_texto{
        width: 24rem;
    }
    .buscar_texto::placeholder {
        color:white;
    }
    .opciones-usuario{
    /* border: 5px solid green;
        font-size: .7rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left:73%;
        top:23.5%;
        width: 25%;
        height: 6%;
        justify-content: space-evenly;
        
    }
    .ubicacion{
        width: 30%;
        height: 100%;
        padding-left: 1.5rem;
    
    
    }*/
    #usuario{
        width: 20%;
        height: 100%;
        padding-top: 4%;
    /* border: 5px solid rgb(230, 78, 78);*/
    padding-right: .5em;
    }
    #ima_usuario{
        width: 100%;
        height: 65%;
        display:block;
        margin:0;
        
    }
    #ico-menu{
        width: 3rem;
        height:3rem;
    }
    #btn_menu{
        display:none;
    }
    header label{
        display: block;
        width: 3.5rem;
        height:3.5rem;
        padding:.2rem;
        
        
    }
    header label:hover{
        cursor: pointer;
        background:rgb(175, 55, 55);
        
    }

   


    #barra{
        background-color:white;
        width: 100%;
        height:22%;
        /*border: 5px solid rgb(230, 78, 78);*/
        padding:.2em;
        display: flex;
        

    }

 

    .navegacion{
        width: 37vw;
        height:33vh;
        position: absolute;
        background:#fff;
        margin-left: -60%;
        z-index: 60;
        transition:all .5s;
        font-size: 24px;
    }
    #btn_menu:checked ~ .navegacion{
       margin:0;

    }

    .navegacion ul{
        display:flex;
        list-style: none;
        flex-direction: column;
    }
    
    .menu>li{
        position: relative;
        display: inline-block;
        border-top: 1px solid rgb(184, 184, 184);
        margin: 0 .5em 0 .5em;
    }
    .menu>li>a{
        display: block;
        padding: .8em 1.2em;
        color:#353535;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-decoration: none;
    }
    .menu li a:hover{
        color:#CE7D35;
        transition: all .3s;
    }
    
    /*Submenus*/
    .submenu{
        font-size: 22px;
        display: inline-block;
        position: absolute;
        /*border: 2px solid green;*/
        background:rgb(250, 242, 242);
        width: 85%;
        height:190%;
        margin-left: 14rem;
        margin-top:-4.15rem;
        
        visibility: hidden;
        opacity: 0;
        justify-content:space-between;
        transition:opacity 1.5s;
        z-index: 60;

    }
    .submenu li a{
        
       /* display: block;*/
        padding: .8em;
        color:black;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-decoration: none;
        
        
    }
    .menu li:hover .submenu{
        visibility: visible;
        opacity: 1;

    }
   
  



    
    .buscar{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left:68%;
        top:26.7%;
        transform:translate(-100%,-50%);
        background:rgb(255, 0, 0);
        padding: .8rem .5rem .5rem .9rem;
        height: 3.5rem;
        border-radius: 1rem;
        
    }
    .buscar_texto{
        
        border:none;
        background: none;
        outline: none;
        color:white;
        font-size: 1.5rem;
        float: left;
        line-height: 4rem;
        transition:.3s;
        width: 0;
    }

    .boton{
        width:2.5rem;
        height: 2.5rem;
        text-decoration: none;
        color: white;
        font-size: 1.8rem;

    }

    /* animacio de la barra de busqueda*/
    .buscar:hover>.buscar_texto{
        width: 18rem;
    }
    .buscar_texto::placeholder {
        color:white;
    }
    .opciones-usuario{
    /* border: 5px solid green;*/
        font-size: .7rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left:69%;
        top:23.5%;
        width: 31%;
        height: 6%;
        justify-content: space-evenly;
        
    }
    .ubicacion{
        width: 31%;
        height: 100%;
        padding-left: .4rem;
    
    
    }


    .usuario{
        width: 35%;
        height: 100%;
        padding:0rem;
        
        
    }
    .carrito{
        width: 31%;
        height: 100%;
        margin-left: .5rem;
    
        
        
        
    }
    .ubicacion img{
        
        width: 70%;
        height:70%;
        
    }
    .usuario img{
        
        width: 80%;
        height:70%;
        
    }
    #ico-carrito{
        
        width: 60%;
        height: 70%;
        padding-top: .3rem;
    }
    .opciones-usuario>div{
      /* border: 5px solid black;*/
    }

    


    main{
        background-color:crimson;
        width: 97.2vw;
        height: 115vh;
        margin:0;
        /*border: 5px solid greenyellow;*/

    }

    #noticias{
        background-color: cornflowerblue;
        width: 100%;
        height: 30%;
        display: flex;
    }
    .slider{
        width: 100%;
        height: 100%;
        position: relative;
        list-style: none;
        padding:0;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        opacity: 1;

    }
    .slider img{
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: all 0.7s;
    }

    .slider input[type="radio"]{
        position: relative;
        z-index: 50;
        margin:3em;
        width: 2rem;
        height: 2rem;
        
    }

    .slider input[type="radio"]:checked ~ img {
        opacity: 1;
    }


    

    .contenido{
        color:white;
        width: 100%;
        height: 70%;
        text-align: center;
        
        /*border: 5px solid aqua;*/
        
        
    }
    .contenido>h1{
       /* background-color:gray;*/
        background-color: rgb(230, 78, 78);
    }
    .Scaja{
        display: block;
        /*border: 5px solid gray;*/
        width: 100%;
        height: 95.3%;
        
    }
    .Scaja>div{
        width: 100%;
        height: 33.3%;
        padding-top: 1rem;
        text-align: center;

    
    }
    .populares{
        
    width: 50%;
    height: 50%;
        

    }
    .caja1{
    /*background-color: green;*/
    }

    .caja2{
    /*background-color:aqua;*/
    }

    .caja3{
        /*background-color: yellowgreen;*/
    }
    .button{
        
        background-color:lightgrey;
        border: .1em solid gray;
        text-decoration: none;
        font-size: 1.8em;
        margin: 0rem 10rem 0 10rem;
        
        
    }

    .Scaja>div>h2{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
 



    footer{
        background-color: rgb(230, 78, 78);
        position: static;
        /*background-color:red;*/
        color: gainsboro;
        width: 97.2vw;
        height: 30vh;
        text-align: center;
        display:block;
        /*border: 5px solid white;*/
        
        
    }

    footer>section{
        width:100%;
        height: 50%;
        padding-top: 1em;
        /*border:2px solid aqua;*/
        
    }
   /* footer>section>p{
        padding-top: .5em;
        font-size: 1.2rem;
    }*/
    #info>div{
        display:block;
        padding-top: .5em;
        font-size: 1.2rem;
        
    }
    #info>div>p{
        margin-top: .3rem;
    }

    #redes>div{
        
        display: flex;
        margin-left: 25%;

    }
    #redes{
      
        padding-top: 0;
    }
    #iconos-redes{
        margin: 0 1rem 0 0 ;
    }
    #iconos-redes img{
        width: 4em;
        height: 4em;
        padding-top: .8em;
        
    }


}

/*///////////////////Tableta///////////////////////////////////////*/
@media (min-width : 680px){
    
    body{
        /*background-color: #CE7D35;*/
    }
    header{
        background-color: rgb(230, 78, 78);
        width: 97.2vw;
        height: 30vh;
        margin:0;
        padding: 0;
    /*    border: 5px solid green;*/
    }

    #arriba{
        display:block;
        width: 100%;
        height:78%;

    }
    #logo{
        width: 85%;
        height: 100%;
    /* border: 5px solid rgb(230, 78, 78);*/
        margin: auto;
        padding: .5rem 0 .5rem 0;
    }
    #ima_logo{
        width: 100%;
        height: 100%;
        border-radius: 20%;
    }
    #busqueda{
        width: 50%;
        height: 100%;
        
    }
    #ima_busqueda{
        display:block;
        margin:0;
        padding-top: 10%;
        padding-left: 1.2em;
    }
    #usuario{
        width: 20%;
        height: 100%;
        padding-top: 4%;
    /* border: 5px solid rgb(230, 78, 78);*/
    padding-right: .5em;
    }
    #ima_usuario{
        width: 100%;
        height: 65%;
        display:block;
        margin:0;
        
    }
    #ico-menu{
        width: 3rem;
        height:3rem;
    }
    #btn_menu{
        display:none;
    }
    header label{
        display: block;
        width: 3.5rem;
        height:3.5rem;
        padding:.2rem;
        
        
    }
    header label:hover{
        cursor: pointer;
        background:rgb(175, 55, 55);
        
    }

   


    #barra{
        background-color:white;
        width: 100%;
        height:22%;
        /*border: 5px solid rgb(230, 78, 78);*/
        padding:.2em;
        display: flex;
        

    }

 

    .navegacion{
        width: 21.5rem;
        height:15rem;
        position: absolute;
        background:#fff;
        margin-left: -60%;
        z-index: 60;
        transition:all .5s;
        font-size: 22px;
    }
    #btn_menu:checked ~ .navegacion{
       margin:0;
       margin-left: -.5%;
       margin-top: -.5%;

    }

    .navegacion ul{
        display:flex;
        list-style: none;
        flex-direction: column;
    }
    
    .menu>li{
        position: relative;
        display: inline-block;
        border-top: 1px solid rgb(184, 184, 184);
        margin: 0 .5em 0 .5em;
    }
    .menu>li>a{
        display: block;
        padding: .8em 1.2em;
        color:#353535;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-decoration: none;
    }
    .menu li a:hover{
        color:#CE7D35;
        transition: all .3s;
    }
    
    /*Submenus*/
    .submenu{
        font-size:21px;
        display: inline-block;
        position: absolute;
        /*border: 2px solid green;*/
        background:rgb(250, 242, 242);
        width: 85%;
        height:190%;
        margin-left: 20.5rem;
        margin-top:-3.8rem;
        
        visibility: hidden;
        opacity: 0;
        justify-content:space-between;
        transition:opacity 1.5s;
        z-index: 60;

    }
    .submenu li a{
        
       /* display: block;*/
        padding: .8em;
        color:black;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-decoration: none;
        
        
    }
    .menu li:hover .submenu{
        visibility: visible;
        opacity: 1;

    }
   

    .buscar{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left:72%;
        top:26.7%;
        transform:translate(-100%,-50%);
        background:rgb(255, 0, 0);
        padding: .8rem .5rem .5rem .9rem;
        height: 3.57rem;
        border-radius: 1rem;
        
    }
    .buscar_texto{
        
        border:none;
        background: none;
        outline: none;
        color:white;
        font-size: 1.5rem;
        float: left;
        line-height: 4rem;
        transition:.3s;
        width: 0;
    }

    .boton{
        width:2.5rem;
        height: 2.5rem;
        text-decoration: none;
        color: white;
        font-size: 1.8rem;

    }

    /* animacio de la barra de busqueda*/
    .buscar:hover>.buscar_texto{
        width: 30rem;
    }
    .buscar_texto::placeholder {
        color:white;
    }
    .opciones-usuario{
    /* border: 5px solid green;*/
        font-size: .7rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left:73%;
        top:23.5%;
        width: 25%;
        height: 6%;
        justify-content: space-evenly;
        
    }
    .ubicacion{
        width: 30%;
        height: 100%;
        padding-left: .5rem;
    
    
    }
    .usuario{
        width: 30%;
        height: 100%;
        padding:0;
        
        
    }
    .carrito{
        width: 30%;
        height: 100%;
        
    
        
        
        
    }
    .ubicacion img{
        
        width: 70%;
        height:70%;
        
    }
    .usuario img{
        
        width: 80%;
        height:70%;
        
    }
    #ico-carrito{
        
        width: 60%;
        height: 70%;
        padding-top: .3rem;
    }
    /*.opciones-usuario>div{
        border: 5px solid black;
    }*/

    main{
        background-color:crimson;
        width: 97.2vw;
        height: 115vh;
        margin:0;
        /*border: 5px solid greenyellow;*/

    }

    #noticias{
        background-color: cornflowerblue;
        width: 100%;
        height: 40%;
        display: flex;
    }
    .slider{
        width: 100%;
        height: 100%;
        position: relative;
        list-style: none;
        padding:0;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        

    }
    .slider img{
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: all 0.7s;
    }

    .slider input[type="radio"]{
        position: relative;
        z-index: 50;
        margin:3em;
        width: 2rem;
        height: 2rem;
        
    }

    .slider input[type="radio"]:checked ~ img {
        opacity: 1;
    }


    

    .contenido{
        color:white;
        width: 100%;
        height: 60%;
        text-align: center;
        
        
        /*border: 5px solid aqua;*/
        
        
    }
    .contenido>h1{
       /* background-color:gray;*/
        background-color: rgb(230, 78, 78);
    }
    .Scaja{
        display: flex;
        /*border: 5px solid gray;*/
        width: 100%;
        height: 95.3%;
        position: relative;
    }
    .Scaja>div{
        width: 50%;
        height: 50%;
        padding-top: 1rem;
        text-align: center;

    
    }
    .populares{
        
    width: 50%;
    height: 50%;
        

    }
    .caja1{
    /*background-color: green;*/
    position: absolute;
    left:0;
    top:0;

    }

    .caja2{
    /*background-color:aqua;*/
    position: absolute;
    right:0;
    top:0;
    }

    .caja3{
        /*background-color: yellowgreen;*/
        position: absolute;
        left:0;
        bottom:0;
    }
    .button{
        
        background-color:lightgrey;
        border: .1em solid gray;
        text-decoration: none;
        font-size: 1.6em;
        margin: 0;
        
        
    }

    .Scaja>div>h2{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
 



    footer{
        background-color: rgb(230, 78, 78);
        position: static;
        /*background-color:red;*/
        color: gainsboro;
        width: 97.2vw;
        height: 30vh;
        text-align: center;
        display:block;
        /*border: 5px solid white;*/
        
        
    }


    footer>section{
        width:100%;
        height: 50%;
        padding-top: 1em;
        /*border:2px solid aqua;*/
        
    }
  /*  footer>section>p{
        padding-top: .5em;
        font-size: 1.2rem;
    }*/
    #info>div{
        display:flex;
        padding-top: .5em;
        font-size: 1.3rem;
        margin-top: 1rem;
        margin-left: 22%;
    }
    #info>div>p{
        margin-left: 2rem;
    }

    #redes>div{
        
        display: flex;
        margin-left: 31%;

    }
  
    #iconos-redes{
        margin: 0 1rem 0 0 ;
    }
    #iconos-redes img{
        width: 4em;
        height: 4em;
        padding-top: .8em;
        
    }


}

/*///////////////////Escritorio///////////////////////////////////////*/
@media (min-width : 980px){

    
    header{
        background-color: rgb(230, 78, 78);
        width: 98.7vw;
        height: 30vh;
        margin:0;
        border:none;
        
    }
    #arriba{
        display:flex;
        width: 100%;
        height:78%;

    }
    #logo{
        width: 30%;
        height: 100%;
    /* border: 5px solid rgb(230, 78, 78);*/
    padding: .5em;
        
    }
    #ima_logo{
        width: 100%;
        height: 100%;
        border-radius: 40%;
    }
    #busqueda{
        width: 50%;
        height: 100%;
        
    }
    #ima_busqueda{
        display:block;
        margin:0;
        padding-top: 10%;
        padding-left: 1.2em;
    }
    #usuario{
        width: 20%;
        height: 100%;
        padding-top: 4%;
    /* border: 5px solid rgb(230, 78, 78);*/
    padding-right: .5em;
    }
    #ima_usuario{
        width: 100%;
        height: 65%;
        display:block;
        margin:0;
        
    }


    #barra{
        background-color:white;
        width: 100%;
        height:22%;
        /*border: 5px solid rgb(230, 78, 78);*/
        padding:.2em;
        display: flex;
        
        

    }

    #btn_menu,#label,#ico-menu{
        display:none;
    }
    

    .navegacion{
        position: static;
        width: 100%;
        background:#fff;
        display:flex;
        opacity: 1;
        margin:0;
        font-size: 18;
    }
    .navegacion ul{
        display:inline-block;
        list-style: none;
        flex-direction: row;
    }
    .menu>li{
        position: relative;
        display: inline-block;
        border:none;
        margin: 0 .5em 0 .5em;
    }
    .menu>li>a{
        display: block;
        padding: .8em 1.2em;
        color:#353535;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-decoration: none;
    }
    .menu li a:hover{
        color:#CE7D35;
        transition: all .3s;
    }
    /*Submenus*/
    .submenu{
        position: absolute;
        background:#3333;
        width: 140%;
        height:400%;
        margin: 0;
        justify-content:space-between;
        visibility: hidden;
        opacity: 0;
        transition:opacity 1.5s;
        z-index: 50;
        font-size: 18;

    }
    .submenu li a{
        display: block;
        padding: .8em;
        color:#fff;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-decoration: none;
        
    }
    .menu li:hover .submenu{
        visibility: visible;
        opacity: 1;

    }

    .buscar{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left:76%;
        top:27.2%;
        transform:translate(-100%,-50%);
        background:rgb(255, 0, 0);
        padding: .8rem .5rem .5rem .9rem;
        height: 3.5rem;
        border-radius: 1rem;
        
    }
    .buscar_texto{
        
        border:none;
        background: none;
        outline: none;
        color:white;
        font-size: 1.5rem;
        float: left;
        line-height: 4rem;
        transition:.3s;
        width: 0;
    }

    .boton{
        width:2.5rem;
        height: 2.5rem;
        text-decoration: none;
        color: white;
        font-size: 1.8rem;

    }

    /* animacio de la barra de busqueda*/
    .buscar:hover>.buscar_texto{
        width: 24rem;
    }
    .buscar_texto::placeholder {
        color:white;
    }
    .opciones-usuario{
    /* border: 5px solid green;*/
        font-size: .7rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left:76%;
        top:23.5%;
        width: 25%;
        height: 6%;
        justify-content: space-evenly;
        padding-top: .2rem;
        
    }
    .ubicacion{
        width: 30%;
        height: 100%;
        padding-left: 1.5rem;
    
    
    }
    .ubicacion>h5{
        margin-left: .5rem;
    }
    .usuario{
        width: 30%;
        height: 100%;
        padding:0;
        
        
    }
    .usuario>h5{
        margin-left: .5rem;
    }
    .carrito{
        width: 30%;
        height: 100%;
    }
    .carrito>h5{
        margin-left: .8rem;
    }
    .ubicacion img{
        
        width: 70%;
        height:70%;
        
    }
    .usuario img{
        
        width: 80%;
        height:70%;
        
    }
    #ico-carrito{
        
        width: 60%;
        height: 70%;
    }
    /*.opciones-usuario>div{
        border: 5px solid black;
    }*/

    main{
        background-color:crimson;
        width: 98.7vw;
        height: 100vh;
        margin:0;

    }

    #noticias{
        background-color: cornflowerblue;
        width: 100%;
        height: 60%;
        display: flex;
    }
    .slider{
        width: 100%;
        height: 100%;
        position: relative;
        list-style: none;
        padding:0;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        opacity: 1;

    }
    .slider img{
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: all 0.7s;
    }

    .slider input[type="radio"]{
        position: relative;
        z-index: 50;
        margin:3em;
        width: 1.2rem;
        height: 1.2rem;
        
    }

    .slider input[type="radio"]:checked ~ img {
        opacity: 1;
    }




    .contenido{
        color:white;
        width: 98.7vw;
        height: 35vh;
        text-align: center;
    
        
        
    }
    .contenido>h1{
      /*  background-color:gray;*/
        background-color: rgb(230, 78, 78);
    }
    .Scaja{
        display: flex;
        position:static;
        /*border: 5px solid gray;*/
        width: 100%;
        height: 95%;
        
    }
    .Scaja>div{
        width: 33.3%;
        height: 100%;
        text-align: center;

        
    }
    .populares{
        
    width: 90%;
    height: 70%;
        

    }
    .caja1{
        position:static;
        float: left;
     /*background-color: green;*/
    }

    .caja2{
        position:static;
        margin:auto;
    /* background-color:aqua;*/
    }

    .caja3{
        position:static;
        float: right;
        /*background-color: yellowgreen;*/
    }
    .button{
        
        background-color:lightgrey;
        border: .1em solid gray;
        text-decoration: none;
        font-size: 1.5em;
        margin:0 10rem 0 10rem;
        
        
    }
/*    .area-botones{
        width: 100%;
        height: 15%;
        padding-left: 2.3rem;
        border: 5px solid white;

    }
*/




    footer{
        background-color: rgb(230, 78, 78);
        color: gainsboro;
        width: 98.7vw;
        height: 15vh;
        text-align: center;
        display:flex;
        margin:0;
        
        
    }

    footer>section{
        width:50%;
        height: 100%;
        padding-top: 1em;
        
    }
   /* footer>section>p{
        padding-top: 1em;
    }*/
    #info>div{
        display:block;
        font-size: 1.3rem;
        margin-top: 0;
        margin-left: 0;
    }
    #info>div>p{
        margin: .1rem 0 0 0;
    }
    

    #redes>div{
        
        display: flex;
        margin-left: 10em;
    }
    #iconos-redes img{
        width: 4em;
        height: 4em;
        padding-top: .8em;
    }

}